::-webkit-scrollbar{
	width:5px;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color:#a6a6a6;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color:white;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
/*::-webkit-scrollbar-button {
  background: #444;
  height: 5px;
}
::-webkit-scrollbar-button:horizontal:increment {
    background-image: url(http://i.imgur.com/ygGobeC.png);
}

::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url(http://i.imgur.com/ygGobeC.png);
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: url(http://i.imgur.com/ygGobeC.png);
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(http://i.imgur.com/ygGobeC.png);
}*/

.onclicka{
	text-decoration: none;
	color:white;
}

.onclicka:hover{
	text-decoration: none;
	color:white;
}

.onclicka:active{
	text-decoration:none;
	color:white;
}

.onclicka:focus{
	text-decoration:none;
	color:white;
	/*opacity: 0.8;
	background-color: #9900cc;*/
}

div:hover[class$="hover"] {
    background: rgba(153, 0, 204,0.4);
	/*opacity: 0.3;
	background: #9900cc;*/
}